{% extends "lti/lti_base.html" %}
{% load static %}
{% block content %}
<a target="_blank" href="{{ login_url }}"  id='login-link' next-url="{{ after_login }}" check-login="{{ check_login }}">pagina laad..</a>
{% endblock %}
{% block extra_js %}
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/lti.js" %}?version=1.10'></script>
{% endblock %}